#container, #game, #players, #gameBoard, #menu {
	display: flex;
}

#container {
	flex-flow: row nowrap;
	justify-content: space-between;
}

#game {
	flex-flow: column nowrap;
	flex: 1 0 auto;
}

#menu {
	flex-flow: column nowrap;
	flex: 1 0 auto;
	align-items: flex-end;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#root {
	font-family: 'Roboto', sans-serif;
}