#container, #game, #players, #gameBoard, #menu {
	display: flex;
}

#container {
	flex-flow: row nowrap;
	justify-content: flex-start;
}

#menu, #game {
	flex-flow: column nowrap;
}

#menu {
	flex: 1 1 0;
}

#game {
	flex: 4 1 0;
}

#players, #gameBoard {
	flex: 1 1 0;
}

#root {
	font-family: 'Roboto', sans-serif;
}