#container, #game, #players, #gameBoard {
	display: flex;
}

#container {
	flex-flow: row nowrap;
	justify-content: space-between;
}

#game {
	flex-flow: column nowrap;
	flex: 1 0 auto;
}

::-webkit-scrollbar { 
  display: none; 
}